<div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= collapseNum %>">
        <div class="panel-heading">
            <h4 class="panel-title">Collapsible Group 1

    </h4>
        </div>
    </a>
    <div id="collapse<%= collapseNum %>" class="panel-collapse collapse out">
        <div class="panel-body">
          <img src="/assets/images/tempStockSection.png" style="max-width: 100% ; width: 100%"/>
        </div>
    </div>

</div>
