html {
    height: 100%;
}

body {
    padding-top: 70px;
    height: 100%;
    background-color: #39393c; /*#303032;*/
    color: rgb(230,230,230);
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

/* overriding bootstrap styling */
.btn-primary, .btn-primary:focus:active {
    background-color: #17ac7e;
    border: none;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}
.btn-primary:hover {
    background-color: #01875e;
}
.btn-primary:focus {
    background-color: #1ce2a5;
}
.btn-primary:active, .btn-primary.active {
    background-color: #1ce2a5;
}

/* overriding jquery styling */
.ui-autocomplete {
    background: lightgrey;
    color: white;
    border: none !important;
    border-radius: 2px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    padding: 0px !important;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 9999 !important;
}
.ui-autocomplete.source:hover {
    background: #17ac7e;
}

.ui-menu .ui-menu-item a{
    background: lightgrey;
    border-radius: 0px;
    border: none;
    margin: 0px;
}
.ui-menu .ui-menu-item a:hover{
    background: #17ac7e;
    color: white;
}

/*
 * -----------------------------------------------------------------
 * Nav Styling
 * -----------------------------------------------------------------
 */

.navbar-right * {
    text-align: right;
}

#signOutBtn {
    float: right;
    margin: 5px 10px;
}

/*
 * -----------------------------------------------------------------
 * Login/Register Page Styling
 * -----------------------------------------------------------------
 */

.panel-login-container {
    position: relative;
    top: 10%;
}

.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    background-color: #212124;
    border: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}
.panel-login>.panel-heading {
	color: #00415d;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #17ac7e;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
    background-color: rgba(230,230,230, 0.8);
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}

/*
 * -----------------------------------------------------------------
 * Profile Page Styling
 * -----------------------------------------------------------------
 */

/* searchBar affix styling */
.affix#searchBar {
    top:0;
    left: 50%;
    width:  40%;
    margin-top: 8px;
    margin-left: -20%; /* Half of the width */
    z-index: 9999 !important;
}
.navbar {
    margin-bottom: 0px;
}
.affix ~ .container {
   position: relative;
   top: 50px;
}

#searchBtn {
    height: 34px;
}

/*
 *  -----------------------------------------------------------------
 *  Ticker Item styling
 *  -----------------------------------------------------------------
 */

 #saveTickerBtn {
     padding: 5px 10px;
     margin-top: -4px;
     margin-bottom: -10px;
 }

.tickerItem {
    background-color: #212124;
    border: none;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    margin: 10px 0px !important;
    padding: 7px;
}

.change-percent.positive {
    color: #17ac7e;
}
.change-percent.negative {
    color: #ED4337;
}

.tickerItem.positive:hover {
    box-shadow: 0px 0px 10px #17ac7e;
}
.tickerItem.negative:hover {
    box-shadow: 0px 0px 10px #ED4337;
}

.tickerItem > .panel-heading {
    background-color: rgba(0,0,0,0);
    color: lightgrey;
    border: none;
}

.tickerItem > a {
    text-decoration: none;
    color: lightgrey;
}

/*
.tickerItem.positive > a:hover {
    color: #17ac7e;
}
.tickerItem.negative > a:hover {
    color: #ED4337;
}
*/

.sub-panel {
    background-color: #303032;
    border-radius: 3px;
    box-shadow: 0px 1px 1px rgba(50,50,50,0.8);
    margin: 10px 2px;
    padding: 10px;
}

.stat-panel {
    padding-left: 30px;
    padding-right: 30px;
}

.stat-item {
    margin: 10px 0px;
}

.stat-item > * {
    margin: 0px;
}

.stat-val {
    font-weight: bold;
    font-size: 1.2em;
}

.stat-name {
    font-size: 1em;
    color: grey;
}

.graph-panel > .d3-wrapper > * {
    max-width: 100%;
}
