<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body data-spy="scroll" data-target="#searchBar">
    <%- include('../partials/nav', {showUserDropdown: true}); %>

        <div class="container">
            <div class="page-header">
                <h1>Portfolio <small>(<%= username %>)</small></h1>
            </div>
            <div class="page-header">
                <h2>Search: </h2>
            </div>
            <form id="searchForm">
                <div id="searchBar" class="input-group" data-spy="affix">
                    <input type="text" id="searchBarInput" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary" id="searchBtn" type="button">Go!</button>
                    </span>
                </div>
            </form>
            <div id="searchResult"></div>

            <div class="page-header">
                <h2>My Tickers: </h2>
            </div>
            <% if (tickers.length) { %>
                <div class="panel-group" id="accordion">
                    <% for(var i = 0; i < tickers.length; i++) { %>
                        <%- include('../partials/tickerItem.ejs', {
                            tickerSymbol: tickers[i].symbol,
                            changeInPercent: tickers[i].ChangeinPercent,
                            open: tickers[i].Open,
                            todayHigh: tickers[i].DaysHigh,
                            todayLow: tickers[i].DaysLow,
                            wkHigh: tickers[i].YearHigh,
                            wkLow: tickers[i].YearLow,
                            volume: tickers[i].Volume,
                            avgVolume: tickers[i].AverageDailyVolume,
                            marketCap: tickers[i].MarketCapitalization,
                            peRatio: tickers[i].PERatio,
                            divYield: tickers[i].DividendYield,
                            change: tickers[i].change
                        }); %>
                    <% } %>
                </div>
            <% } else { %>
                <div class="noSavedTickers text-center">
                    <h4>You Have no Saved Tickers</h4>
                </div>
            <% } %>
        </div>
        <% include ../partials/scripts %>
</body>

</html>
